{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}

<div class="card welcome">
	<p>Welcome <strong>{{name}}</strong>,</p>
	<p>you're one bad motherfucker, let's play BlackJack</p>
	<a href="{{ url('las_venturas_blackjack_game') }}">PLAY Blackjack</a>
</div>
{% endblock %}
