{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
	<p>Welcome {{name}}, you're one bad motherfucker, let's play $blackJack</p>
	<a href="{{ url('las_venturas_blackjack_game') }}">PLAY Black Fucking Jack</a>
{% endblock %}
