{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
	<div class="card signup">
		<h2>Yo, wassup bro ? </br>What's your little name ?</h2>
		{{ form(form) }}
	</div>
{% endblock %}
