{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
<h2>'sup bro, seems like you never been here befo'. Jus' signup, aight !</h2>
{{ form(form) }}
{% endblock %}
