{% extends "LasVenturasBlackjackBundle:Game:result.html.twig" %}





{% block score %}
	<div class="card lose">
		<h1>You lose</h1>
		<a href="{{ path('las_venturas_blackjack_game')}}">Play again Motherfucker</a>
	</div>
{% endblock %}
