{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}





{% block content %}
<div class="content pregame">

	<div class="card bet">
		<h3>So {{name}}, How much ya wanna bet ?</h3>
		<div class="betform">{{ form(form) }}</div>	
	</div>
	<div class="card credit">
		<h3>Crédits</h3>
		<p>{{credit}}</p>
	</div>

</div>

{% endblock %}
