{% extends "LasVenturasBlackjackBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
	<p>How much ya wanna bet ?</p>
	{{ form(form) }}
{% endblock %}
