{% extends "LasVenturasBlackjackBundle:Game:result.html.twig" %}





{% block score %}
	<div class="card tie">
		<h1>You tie</h1>
		<a href="{{ path('las_venturas_blackjack_game')}}">Play again Bro</a>
	</div>
{% endblock %}
