{% extends "LasVenturasBlackjackBundle:Game:result.html.twig" %}





{% block score %}
	<div class="card win">
		<h1>You win</h1>
		<a href="{{ path('las_venturas_blackjack_game')}}">Play again Motherfucker</a>
	</div>
{% endblock %}
